<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 80%">
		<h1>Cartridge Groups</h1>

		<form action="/cartridgeModelGroups/newGroup">
			<button type="submit" class="btn btn-primary">Add new group</button>
		</form>

		<table class="table table-sm">
			<thead class="thead-light">
				<tr>
					<th>Group</th>
					<th>Model</th>
					<th>Type</th>
					<th>Color</th>
					<th>Grams</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody th:each="group : ${groups}">
				<tr>
					<th th:text="${group.title}"></th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a class="btn btn-primary"
						th:href="@{'/cartridgeModelGroups/editGroup/' + ${group.id}}"
						role="button">Edit group</a></td>
				<tr th:each="model : ${group.cartridgeModels}">
					<td></td>
					<td th:text="${model.name}">Name</td>
					<td th:text="${model.type}">Type</td>
					<td th:text="${model.color}">Color</td>
					<td th:text="${model.defaultGrams}">Default grams</td>
					<td th:text="${model.description}">Description</td>
					<td><a class="btn btn-primary"
						th:href="@{'/cartridgeModelGroups/editModel/' + ${model.id}}"
						role="button">Edit</a></td>
				</tr>
				<tr>
					<td></td>
					<td><a class="btn btn-primary"
						th:href="@{'/cartridgeModelGroups/' + ${group.id} + '/newModel/'}"
						role="button">Add new model</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

			</tbody>

		</table>


	</div>
	<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>