<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 80%">
		<h1>Cartridge models</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Model</th>
					<th scope="col">Group</th>
					<th scope="col">Type</th>
					<th scope="col">Color</th>
					<th scope="col">Default grams</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="model : ${cartidgeModels}">
					<td th:text="${model.id}">Name</td>
					<td th:text="${model.name}">Name</td>
					<td th:text="${model.group.name}">Group</td>
					<td th:text="${model.type}">Type</td>
					<td th:text="${model.color}">Color</td>
					<td th:text="${model.defaultGrams}">Default grams</td>
					<td th:text="${model.description}">Description</td>
					<td><a class="btn btn-primary"
						th:href="@{'/cartidgeModels/edit/' + ${model.id}}" role="button">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
		<form action="/cartridgeModels/new">
			<button type="submit" class="btn btn-primary">Add new model</button>
		</form>
	</div>
	<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>