<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 50%">
		<h1 th:text="${'Change password for ' + employee.login}">Change
			Password</h1>

		<form action="#" th:action="@{/employees/savePassword}" th:object="${employee}">
			<div class="form-group row">
				<label for="newPassword" class="col-sm-2 col-form-label">New password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="newPassword" th:field="*{password}" placeholder="New password">
				</div>
			</div>
			<div class="form-group row">
				<label for="confirmPassword" class="col-sm-2 col-form-label">Confirm password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="confirmPassword"
						placeholder="Password">
				</div>
			</div>
		</form>
	</div>
	<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>