<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/parts/navbar :: navbar"></div>
	<h1>New client</h1>

	<form action="#" id="new-client-form" th:action="@{/clients/save}"
		th:object="${client}" method="post">
		<div class="form-group">
			<label>Name</label> <input
				type="text" class="form-control"
				placeholder="Name" th:field="*{name}">
		</div>
		<div class="form-group">
			<label>Additional Info</label> <input
				type="text" class="form-control"
				placeholder="Additional info" th:field="*{additionalInfo}">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Add new
				client</button>
		</div>
	</form>

</body>
</html>