<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 80%">
		<h1>Employees</h1>
	
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Full Name</th>
					<th>Position</th>
					<th>Login</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<th th:text="${employee.id}"></th>
					<td th:text="${employee.name} +' ' + ${employee.surname}"></td>
					<td th:text="${employee.position}"></td>
					<td th:text="${employee.login}"></td>
					<td><a class="btn btn-primary"
						th:href="@{'/employees/edit/' + ${employee.id}}" role="button">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
		<form action="/employees/new">
			<button type="submit" class="btn btn-primary">Add new
				employee</button>
		</form>
	</div>
<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>