<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/parts/navbar :: navbar"></div>
	<h1>Employees</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Full Name</th>
				<th scope="col">Position</th>
				<th scope="col">Login</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<th scope="row" th:text="${employee.id}">Employee ID</th>
				<td th:text="${employee.name} +' ' + ${employee.surname}">Full name</td>
				<td th:text="${employee.position}">Position</td>
				<td th:text="${employee.login}">Login</td>
				<td>
					<a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
					<a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
				</td>
			</tr>
			<tr>
				<form action="/employees/new">
					<button type="submit" class="btn btn-primary">Add new employee</button>
				</form>
			</tr>

		</tbody>
	</table>

	<tr th:each="product : ${products}">
		<td th:text="${product.id}">Product ID</td>
		<td th:text="${product.name}">Name</td>
		<td th:text="${product.brand}">Brand</td>
		<td th:text="${product.madein}">Made in</td>
		<td th:text="${product.price}">Price</td>
		<td><a th:href="@{'/edit/' + ${product.id}}">Edit</a> <a
			th:href="@{'/delete/' + ${product.id}}">Delete</a></td>
</body>
</html>