<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head>
<body>

	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 50%">
		<h1 th:if="${employee.id == null}">Add new employee</h1>
		<h1 th:if="${employee.id != null}">Edit employee</h1>

		<form th:action="@{/employees/save}" th:object="${employee}" method="post">
			<div th:if="${employee.id != null}" class="form-group row">
				<label for="id" class="col-sm-2 col-form-label">ID</label>
				<div class="col-sm-2">
					<input id="id" type="text" class="form-control" th:field="*{id}"
						readonly="readonly">
				</div>
			</div>
			<div class="form-group row">
				<label for="firstNmae" class="col-sm-2 col-form-label">First
					name</label>
				<div class="col-sm-8">
					<input id="firstNmae" type="text" class="form-control"
						th:field="*{name}">
				</div>
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="alert alert-danger" role="alert"></div>
			</div>
			<div class="form-group row">
				<label for="surname" class="col-sm-2 col-form-label">Surname</label>
				<div class="col-sm-8">
					<input id="surname" type="text" class="form-control"
						th:field="*{surname}">
				</div>
				<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
					class="alert alert-danger" role="alert"></div>
			</div>
			<div class="form-group row">
				<label for="login" class="col-sm-2 col-form-label">Login</label>
				<div class="col-sm-8">
					<input id="login" type="text" class="form-control"
						th:field="*{login}">
				</div>
				<div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
					class="alert alert-danger" role="alert"></div>
			</div>
			<div th:if="${employee.id == null}" class="form-group row">
				<label for="password" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-8">
					<input id="password" type="text" class="form-control"
						th:field="*{password}">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger" role="alert"></div>
			</div>
			<div class="form-group row">
				<label for="position" class="col-sm-2 col-form-label">Position</label>
				<div class="col-sm-8">
					<select id="position" class="form-control" name="position"
						th:field="*{position}">
						<option th:if="${employee.id != null}"
							th:value="${employee.position}" th:text="${employee.position}"></option>
						<option
							th:each="position : ${T(by.bajter.cartridgesrefill.model.employee.Position).values()}"
							th:if="${employee.position != position}" th:value="${position}"
							th:text="${position}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('position')}"
					th:errors="*{position}" class="alert alert-danger" role="alert"></div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg" >Save</button>
			</div>
		</form>

		<div th:if="${employee.id != null}">
			<form th:action="@{'/employees/changePassword/' + ${employee.id}}" method="post" >
				<div class="form-group row">
					<div class="col-sm-8">
						<input id="txtNewPassword" type="password" name="newPassword" class="form-control" placeholder="New password">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-8">
						<input id="txtConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
					</div>
				</div>
				<div class="col-sm-8">
					<div class="alert alert-warning" role="alert" id="divChangePasswordAlert"></div>
				</div>
				<button type="submit" class="btn btn-primary mb-2">Change password</button>
			</form>
		</div>
			<div
				th:if="${employee.id != null && #authentication.getPrincipal().getId() != employee.id}">
				<a class="btn btn-danger btn-block"
					th:href="@{'/employees/delete/' + ${employee.id}}" role="button">Delete Employee</a>
			</div>
		</div>
		
		<script type="text/javascript">
		function checkPasswordMatch() {		    
		    var newPassword = $("#txtNewPassword").val();
		    var confirmPassword = $("#txtConfirmPassword").val();
		    if (newPassword != confirmPassword)
		    	 $("#divChangePasswordAlert").html("Passwords don't match!");
		    else
		    	$("#divChangePasswordAlert").html("Passwords match!");
		}

		$(document).ready(function () {
		    $("#txtConfirmPassword").keyup(checkPasswordMatch);
		});
		</script>
		
	<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>