<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 50%">
		<h1 th:if="${cartridgeModel.id == null}" th:text="'Add new cartridge to ' + ${cartridgeGroup.name} + ' group'">Add new cartridge model</h1>
		<h1 th:if="${cartridgeModel.id != null}">Edit cartridge model</h1>

		<form action="#" th:action="@{'/cartridgeGroups/' + ${cartridgeGroup.id} + '/saveModel'}"
			th:object="${cartridgeModel}" method="post">
			<div th:if="${cartridgeModel.id != null}" class="form-group">
				<label>ID</label> <input type="text" class="form-control"
					th:field="*{id}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>Model</label> <input type="text" class="form-control"
					th:field="*{name}">
			</div>
			<div th:if="${cartridgeModel.id != null}" class="form-group">
				<label>Group</label> <input  type="text" class="form-control"
					th:field="*{group}" readonly="readonly">
			</div>
			
			<div class="form-group">
				<label>Type</label> <select class="form-control" name="type">
					<option th:text="${cartridgeModel.type}"></option>
					<option
						th:each="type : ${T(by.bajter.cartridgesrefill.model.cartridges.Type).values()}"
						th:if="${cartridgeModel.type != type}" th:value="${type}"
						th:text="${type}"></option>
				</select>
			</div>

			<div class="form-group">
				<label>Color</label> <select class="form-control" name="color">
					<option th:text="${cartridgeModel.color}"></option>
					<option
						th:each="color : ${T(by.bajter.cartridgesrefill.model.cartridges.Color).values()}"
						th:if="${cartridgeModel.color != color}" th:value="${color}"
						th:text="${color}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Default grams</label> <input type="text" class="form-control"
					th:field="*{defaultGrams}">
			</div>
			<div class="form-group">
				<label>Description</label> <input type="text" class="form-control"
					th:field="*{description}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
		<div th:if="${cartridgeModel.id != null}">
			<a class="btn btn-primary btn-block"
				th:href="@{'/cartridgeModels/delete/' + ${cartridgeModel.id}}" role="button">Delete
				model</a>
		</div>
		</div>
		<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>