<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<div th:replace="/common_view_parts/header :: myheader"></div>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>
<body>
	<div th:insert="/common_view_parts/navbar :: navbar"></div>

	<div class="mx-auto" style="width: 80%">
		<h1>Refills</h1>

		<table class="table table-sm">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>Refill date</th>
					<th>Uniq Identify</th>
					<th>Client</th>
					<th>Group</th>
					<th>Model</th>
					<th>Grams</th>
					<th>Drum</th>
					<th>PCR</th>
					<th>Magnet</th>
					<th>Doser</th>
					<th>Rakel</th>
					<th>Chip</th>
					<th>Firmware</th>
					<th>Comment</th>
					<th>Refueller</th>
					<th>Act</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="refill : ${refills}" align="center">
					<td th:text="${refill.id}"></td>
					<td th:text="${refill.refillDate}"></td>
					<td th:text="${refill.cartridge.uniqIdentify}"></td>
					<td th:text="${refill.cartridge.client.name}"></td>
					<td th:text="${refill.cartridge.cartridgeModel.group.title}"></td>
					<td th:text="${refill.cartridge.cartridgeModel.name}"></td>
					<td th:text="${refill.actualGrams}"></td>
					<td ><i th:if="${refill.changedDrum == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedPcr == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedMagnet == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedRakel == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedDoserBlade == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedChip == true}" class="fas fa-check"></i></td>
					<td><i th:if="${refill.changedFirmware == true}" class="fas fa-check"></i></td>
					<td th:text="${refill.comment}"></td>
					<td th:text="${refill.refueller.login}"></td>
					<td><i th:if="${refill.isIssuedAct == true}" class="fas fa-check"></i></td>
					
					<td><a class="btn btn-primary"
						th:href="@{'/refills/edit/' + ${refill.id}}" role="button">Edit</a>
					</td>
				</tr>
			</tbody>

		</table>
		<form action="/refills/new/" >
			<label>Uniq Identify</label>
			<input type="text" class="form-control" th:field="*{id}">
			<button type="submit" class="btn btn-primary">Add new refill</button>
		</form>
	</div>
	<div th:insert="/common_view_parts/scripts :: scripts"></div>
</body>
</html>